<ul class="nav nav-tabs bordered">
    <li class="active">
        <a href="#Peribadi" data-toggle="tab">Peribadi</a>
    </li>
    <li>
        <a href="#Pekerjaan" data-toggle="tab">Pekerjaan</a>
    </li>
    <li>
        <a href="#Kemahiran" data-toggle="tab">Kemahiran</a>
    </li>
    <li>
        <a href="#Akademik" data-toggle="tab">Akademik</a>
    </li>
    <li>
        <a href="#Pewaris" data-toggle="tab">Pewaris</a>
    </li>
    <li>
        <a href="#Tanggungan" data-toggle="tab">Tanggungan</a>
    </li>
    <li>
        <a href="#Kuarters" data-toggle="tab">Kuarters</a>
    </li>
    <li>
        <a href="#Gaji" data-toggle="tab">Gaji/Elaun/Potongan/Caruman</a>
    </li>
    <li>
        <a href="#Anugerah" data-toggle="tab">Anugerah</a>
    </li>
    <li>
        <a href="#Persaraan" data-toggle="tab">Persaraan</a>
    </li>
    <li>
        <a href="#Tatatertib" data-toggle="tab">Tatatertib</a>
    </li>
    <li>
        <a href="#Kematian" data-toggle="tab">Kematian</a>
    </li>
    <li>
        <a href="#Prestasi" data-toggle="tab">Prestasi</a>
    </li>
    <li>
        <a href="#Cuti" data-toggle="tab">Cuti</a>
    </li>
</ul>