@model eSPP.Models.AgreementModels
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Forms
                <span>
                    >
                    Pemprosesan Gaji Sambilan
                </span>
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
        </div>
        <div class="row">
            <article class="col-sm-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2> Pemprosesan Gaji Sambilan</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("ProsesGajiSambilan", "PengurusanKakitanganSambilan", FormMethod.Post, new { @class = "smart-form", id = "smart-form-register", enctype = "multipart/form-data" }))
                            {
                                <fieldset>                                    
                                    <div class="row">
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="label">
                                                Bulan & Tahun<font color="red">*</font>
                                            </label>
                                        </section>
                                        <section class="col col-lg-2 col-md-2 col-sm-12">
                                            <label class="input">
                                                <input class="form-control" name="bulantahun" id="tahunproses" data-mask="99/9999" data-mask-placeholder="-">
                                                <label class="note">
                                                    Data format mm/yyyy
                                                </label>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-4 col-md-4 col-sm-12">
                                            <div class="progress" id="progressbar" style="display:none;">
                                                <div id="progressbar-Label" class="progress-bar bg-info" role="progressbar"
                                                     style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                    Menghantar...
                                                </div>
                                            </div>
                                        </section>                                        
                                    </div>
                                </fieldset>
                                <footer>
                                    <button type="button" class="btn btn-default" id="Tambah">
                                        <i class="fa fa-search"></i> Hantar ke SPG
                                    </button>
                                </footer>
                            }
                        </div>
                    </div>
                </div>
            </article>

        </div>
    </section>
</div>

<!-- end row -->
<!-- ui-dialog -->
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {
            //alert('muncul');
            var progressbarDiv = $("#progressbar");
            var progressbarLabel = $("#progressbar-label");

            var submitURL = "../PengurusanKakitanganSambilan/ConnectToSPG";
            $("#Tambah").click(function () {
                //debugger;
                var reset = 0;
                $('#progressbar-Label').css('width', reset + '%').attr('aria-valuenow', reset);
                $('#progressbar-Label').text(reset + '%');
                progressbarDiv.fadeIn(500);
                var totalRows = 4;
                var tahunProses = $("#tahunproses").val();
                var counter = 0;

                if (totalRows > 0) {

                    for (var i = 0; i < totalRows; i++) {  
                        $.ajax({                            
                            type: 'POST',
                            url: submitURL,
                            //contentType: "application/json; charset=utf-8",
                            data: { "bulanTahun": tahunProses, "loopCount" : i },
                            datatype: "json",
                            success: function (data) {
                                //debugger;
                                counter++;
                                var valeur = Math.ceil((counter / totalRows) * 100);
                                //console.log('i value is ' + valeur);
                                $('#progressbar-Label').css('width', valeur + '%').attr('aria-valuenow', valeur);
                                $('#progressbar-Label').text(valeur + '%');
                                //alert('Text:' + data.Text + ', Value:' + data.Value);
                                if (counter == totalRows) {
                                    $('#progressbar-Label').text('Selesai!');
                                    progressbarDiv.fadeOut(2000);
                                }
                            },
                            error: function (err) {
                                alert(err.statusText);
                            }
                        });
                    }                    
                }               
            });
        })
    </script>
}