<div class="modal fade" id="ModalSijil" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Tambah Sijil-Sijil Khas / Peperiksaan <span class="error"></span>
                </h4>
            </div>
            <div class="modal-body no-padding smart-form">
                <fieldset>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Nama Sijil Peperiksaan</label>
                            <div class="col col-8">
                                <label class="input">
                                    @Html.TextBox("HR_MAKLUMAT_SIJIL_HR_NAMA_SIJIL_PEPERIKSAAN", null, new { @class = "form-control" })
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Tarikh Diperolehi</label>
                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    @Html.TextBox("HR_MAKLUMAT_SIJIL_HR_TARIKH_DIPEROLEHI", null, new { @class = "form-control" })
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Anjuran</label>
                            <div class="col col-8">
                                <label class="input">
                                    @Html.TextBox("HR_MAKLUMAT_SIJIL_HR_ANJURAN", null, new { @class = "form-control" })
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Keputusan</label>
                            <div class="col col-8">
                                <label class="select">
                                    @Html.DropDownList("HR_MAKLUMAT_SIJIL_HR_KEPUTUSAN", new SelectList(ViewBag.HR_KEPUTUSAN, "Value", "Text"), String.Empty, new { @class = "form-control" })
                                    <i></i>
                                </label>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <footer>
                    <button type="button" id="btn-Sijil" class="btn btn-primary">
                        <span class="fa fa-plus"></span> Tambah
                    </button>
                    <button type="reset" class="btn btn-default">
                        Reset
                    </button>
                    <button type="button" id="btn-back" class="btn btn-default" data-dismiss="modal">
                        Kembali
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>