<ul class="nav nav-tabs bordered" id="myTab">
    <li class="active">
        <a href="#Peribadi" data-toggle="tab" id="ActiveTab">Peribadi</a>
    </li>
    <li>
        <a href="#Pekerjaan" data-toggle="tab" id="ActiveTab">Pekerjaan</a>
    </li>
    <li>
        <a href="#Kemahiran" data-toggle="tab" id="ActiveTab">Kemahiran</a>
    </li>
    <li>
        <a href="#Akademik" data-toggle="tab" id="ActiveTab">Akademik</a>
    </li>
    <li>
        <a href="#Pewaris" data-toggle="tab" id="ActiveTab">Pewaris</a>
    </li>
    <li>
        <a href="#Tanggungan" data-toggle="tab" id="ActiveTab">Tanggungan</a>
    </li>
    <li>
        <a href="#Kuarters" data-toggle="tab" id="ActiveTab">Kuarters</a>
    </li>
    <li>
        <a href="#Gaji" data-toggle="tab" id="ActiveTab">Gaji/Elaun/Potongan/Caruman</a>
    </li>
    <li>
        <a href="#Anugerah" data-toggle="tab" id="ActiveTab">Anugerah</a>
    </li>
    <li>
        <a href="#Persaraan" data-toggle="tab" id="ActiveTab">Persaraan</a>
    </li>
    <li>
        <a href="#Tatatertib" data-toggle="tab" id="ActiveTab">Tatatertib</a>
    </li>
    <li>
        <a href="#Kematian" data-toggle="tab" id="ActiveTab">Kematian</a>
    </li>
    <li>
        <a href="#Prestasi" data-toggle="tab" id="ActiveTab">Prestasi</a>
    </li>
</ul>